$colourChat50:#EFEBE9;
$colourChat100:#d7ccc8;
$colourChat200:#bcaaa4;
$colourChat300:#a1887f;
$colourChat400:#8d6e63;
$colourChat500:#795548;
$colourChat600:#6d4c41;
$colourChat700:#5d4037;
$colourChat800:#4e342e;
$colourChat900:#3e2723;
$colourChat1000:#080808;

$colourPrimary:#1c3faa;
$colourSecondary:#1e84c6;
$navBarHeight : 42pt; ///56pt;

$mat-progress-bar-fill-background: $colourChat100; //#d7ccc8;
$mat-progress-bar-buffer-background: $colourChat700; //#4e342e;

$project-date-font: 11pt;
$project-name-font: 14pt;
$font-size-26: 26pt;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-18: 18px;
$font-size-15: 15pt;
$font-size-14: 14pt;
$font-size-10: 10pt;
$font-size-12: 12pt;
$font-size-24: 24px;
$font-size-20pt: 20pt;
$font-size-16: 16px;
$font-size-13:13pt;

$font-size-16pt: 16pt;

$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-bold: bold;
$font-color-white: #fff;

$header-divider: #fff;

$spinner-stroke-color: #fff;

$color-green: #336633;
$color-bright-green: #00c853;
$colorDisable: rgba(255, 255, 255, 0.3);
$colorDisableBlack: rgba(0, 0, 0, 0.3);

$font-helvetica: Roboto,
"Helvetica Neue",
sans-serif;


//***********************//
$www:'http://localhost:4200/';
// $www: '/static/frontoffice/'