#wrapper{
  display:flex;
  width:100%;
}
#w30{
   
  width:20%;
}

#w70{
   
  width:80%;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.mat-tab-group {
  margin-bottom: 48px;
}