<!-- <div style="padding: 8pt;">


    <div>
        <div fxFlex="grow"></div>
        <button color="primary" mat-raised-button (click)="addFacultyType()">
            <mat-icon>add</mat-icon> Add New
        </button>
    </div>
    <br>
    <div class="example-container mat-elevation-z8">
        <div class="example-loading-shade" *ngIf="dataSource.loading$ | async  ">
            <mat-spinner *ngIf="dataSource.loading$ | async"></mat-spinner>

        </div>
        <div style="padding: 8pt; width: calc(100%-16pt);">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8pt">


                <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8pt">


                    <mat-form-field appearance="">
                        <mat-label>Search Field</mat-label>
                        <mat-select [formControl]="searchOption" multiple>
                            <mat-option *ngFor="let option of searchOptionList" [value]="option">{{option}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Search Matter</mat-label>
                        <input matInput (keyup)="applySearch($event)" placeholder="Search" #input>
                    </mat-form-field>
                    <button mat-stroked-button color="primary">Search</button>
                </div>
                <div fxFlex="grow"></div>
                <div style="padding: 0 16pt;">
                    <button mat-icon-button>
                        <mat-icon>filter_list</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <div class="example-table-container">

            <table mat-table [dataSource]="dataSource" matSortActive="name" matSort matSortDirection="asc"
                matSortDisableClear class="mat-elevation-z8">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="is_active">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
                    <td mat-cell *matCellDef="let element"> {{element.is_active}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon (click)="edit(element)">edit</mat-icon>
                    </td>
                </ng-container>



                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator (page)="pageEvent = $event" [length]="dataSource.pageSize$ | async" [pageSize]="pageSize"
                [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>

</div> -->

<base-table [(tableSettings)]="facultyData" [actionColumnAllowed]="true"></base-table>