<mat-spinner class="spinner" diameter="50" *ngIf="isLoading"></mat-spinner>
<div class="container" *ngIf="!isCondtionalDeleteMatched && !isLoading">
    <h2 style="text-align: center;">{{data.data.message}}
    </h2>
    <div class="button-panel">'
        <button class="button" mat-raised-button color="primary" type="button" [mat-dialog-close]="true">Yes</button>
        <button type="button" class="button" mat-raised-button color="warn" [mat-dialog-close]="false">No</button>
    </div>
</div>
<div class="container" *ngIf="isCondtionalDeleteMatched && !isLoading">
    <h2 style="text-align: center;">{{data.data.isConditionalDelete.messageText}}</h2>
    <div class="button-panel">'
        <button class="button" mat-raised-button color="primary" type="button" [mat-dialog-close]="false">Close</button>
    </div>
</div>