.title{
    font-size: 20px;
    padding: 10px 0px;
}
.body{
    padding: 10px 0px;
    min-height: 60px;
}

.footer{
    padding: 10px 0px;
}
.button{
    margin-right: 10px;
}

.full-input{
    width: 100%;
}

.tab-button{
    border-radius: 50px;
    margin-left: 10px;
}
.button-container{
    padding: 5px 0px;
}
