<form class="form-container" #form="ngForm">
    <h2>{{formData?.id ? 'EDIT' : 'ADD'}} {{title | uppercase}}</h2>
    <mat-divider></mat-divider>
    <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start" style="padding: 20px 0;">
        <ng-conatiner [fxFlex]="flexCol" *ngFor="let field of validFields">
            <ng-container [ngSwitch]="field.type">
                <ng-container *ngSwitchCase="'select'">
                    <mat-form-field class="full-input margin-top">
                        <mat-label>{{field.text || field.name | camelize}}</mat-label>
                        <mat-select [(ngModel)]="formData[field.name]" [name]="field.name" [disabled]="field.readonly"
                            [required]="!field.optional" #select>
                            <!-- <mat-select-trigger>
                                {{ select.value ? select : '' }}
                            </mat-select-trigger> -->
                            <mat-option value="">Select</mat-option>
                            <mat-option *ngFor="let data of field.dataSource" (click)="check(select)" [id]='data'
                                [value]="data.value">
                                <span *ngIf="data.icon">
                                    <mat-icon>{{data.icon}}</mat-icon>
                                </span>{{data.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
                <ng-container *ngSwitchCase="'autoComplete'">
                    <ng-container *ngIf="field.readonly">
                        <mat-form-field appearance="standard" class="full-input">
                            <mat-label>{{field.text || field.name | camelize}}</mat-label>
                            <input [type]="field.type" matInput [placeholder]="field.text || field.name | camelize"
                                autocomplete="new-password" autocomplete="off" [(ngModel)]="formData[field.name]"
                                [name]="field.name" [disabled]="field.readonly" [required]="!field.optional">
                            <mat-hint>Please select {{field.dependsText}} first</mat-hint>
                        </mat-form-field>
                    </ng-container>
                    <ng-container *ngIf="!field.readonly">
                        <mat-form-field class="full-input margin-top">
                            <mat-label>{{field.text || field.name | camelize}}</mat-label>
                            <input type="text" matInput [(ngModel)]="autoCompleteModel[field.name]"
                                (keyup)="search($event, field)" (focus)="onAutoCompleteChange(field)"
                                [matAutocomplete]="auto" [name]="field.name" [readOnly]="field.readonly"
                                [required]="!field.optional" placeholder="start typing for search">
                            <mat-icon *ngIf="autoCompleteModel[field.name] && autoCompleteModel[field.name] !==''"
                                (click)="autoCompleteModel[field.name]=''; formData[field.name]=null;"
                                style="font-size: 18px; color: #999; cursor: pointer;" matSuffix>cancel</mat-icon>
                            <mat-spinner diameter='19' mode='indeterminate' style="position: absolute;"
                                [ngStyle]="{'right': field.isAddAllow ? autoCompleteModel[field.name] !=='' ? '63px' : '45px' : autoCompleteModel[field.name] !=='' ? '45px': '27px'}"
                                *ngIf="isAutoCompleteLoading[field.name]" matSuffix>
                            </mat-spinner>
                            <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                            <mat-icon matSuffix *ngIf="field.isAddAllow" (click)="autoCompleteAdd($event,field)"
                                style="cursor: pointer;">add
                            </mat-icon>
                        </mat-form-field>
                        <mat-autocomplete #auto="matAutocomplete"
                            (optionSelected)="onAutoCompleteChange(field, $event)">
                            <mat-option disabled
                                *ngIf="field.isInputFieldAddAllow && !filteredOptions.length && autoCompleteModel[field.name] && !isAutoCompleteLoading[field.name] && !field.selected"
                                (click)="addNew(field)">No Result. Click
                                to add "{{autoCompleteModel[field.name]}}"</mat-option>
                            <mat-option disabled
                                *ngIf="!filteredOptions.length && autoCompleteModel[field.name] && !isAutoCompleteLoading[field.name] && !field.selected">
                                No Result found for {{autoCompleteModel[field.name]}}</mat-option>
                            <mat-option *ngFor="let option of filteredOptions" [value]="option.name" [id]="option.id">
                                {{option.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="'boolean'" class="full-input margin-top">
                    <label style="margin-right: 20px;">{{field.text || field.name | camelize}} <span
                            *ngIf="!field.optional">*</span></label>
                    <mat-radio-group [(ngModel)]="formData[field.name]" [name]="field.name" [disabled]="field.readonly"
                        [required]="!field.optional">
                        <mat-radio-button style="padding: 10px;" [value]="true">Yes</mat-radio-button>
                        <mat-radio-button [value]="false">No</mat-radio-button>
                    </mat-radio-group>
                </ng-container>
                <ng-container *ngSwitchCase="'textarea'" class="full-input">
                    <mat-form-field appearance="standard" class="full-input">
                        <mat-label>{{field.text || field.name | camelize}}</mat-label>
                        <textarea matInput [placeholder]="field.text || field.name | camelize"
                            [(ngModel)]="formData[field.name]" [name]="field.name" [disabled]="field.readonly"
                            [required]="!field.optional"></textarea>
                    </mat-form-field>
                </ng-container>
                <ng-container *ngSwitchCase="'date'" class="full-input">
                    <mat-form-field appearance="standard" class="full-input">
                        <mat-label>{{field.text || field.name | camelize}}</mat-label>
                        <input matInput [matDatepicker]="picker" [placeholder]="field.text || field.name | camelize"
                            autocomplete="new-password" autocomplete="off" [(ngModel)]="formData[field.name]"
                            [name]="field.name" [disabled]="field.readonly" [required]="!field.optional"
                            [min]="field.dateValidation ? field.dateValidation.minDate : ''"
                            [max]="field.dateValidation ? field.dateValidation.maxDate : ''" (click)="picker.open()">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
                    </mat-form-field>
                </ng-container>
                <ng-container *ngSwitchCase="'chip'" class="full-input">
                    <mat-form-field class="example-chip-list full-input">
                        <mat-chip-list #chipList [aria-label]="field.text || field.name | camelize">
                            <mat-chip *ngFor="let chip of chipModel[field.name]" [selectable]="selectable"
                                [removable]="removable" (removed)="removeChip(chip, field.name)">
                                {{chip.name}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input [placeholder]="field.text || field.name | camelize"
                                [ngModel]="autoCompleteModel[field.name]" [matAutocomplete]="auto"
                                [matChipInputFor]="chipList" [name]="field.name" (keyup)="search($event, field)"
                                (focus)="getChipList(field)">
                            <mat-spinner diameter='19' mode='indeterminate' style="position: absolute;"
                                [ngStyle]="{'right': field.isAddAllow ? '45px' : '27px'}"
                                *ngIf="isAutoCompleteLoading[field.name]" matSuffix>
                            </mat-spinner>
                            <mat-icon matSuffix *ngIf="field.isAddAllow" (click)="autoCompleteAdd($event,field)"
                                style="cursor: pointer;">add
                            </mat-icon>
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event, field.name)">
                            <mat-option disabled *ngIf="!filteredOptions.length && !isAutoCompleteLoading[field.name]">
                                No data found</mat-option>
                            <mat-option *ngFor="let chip of filteredOptions" [value]="chip.id">
                                {{chip.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <mat-form-field appearance="standard" class="full-input">
                        <mat-label>{{field.text || field.name | camelize}}</mat-label>
                        <input [type]="field.type" matInput [placeholder]="field.text || field.name | camelize"
                            autocomplete="new-password" autocomplete="off" [value]="formData[field.name]"
                            [(ngModel)]="formData[field.name]" [name]="field.name" [disabled]="field.readonly"
                            [required]="!field.optional"
                            (input)="condtionalCheck(field.conditionalFormula, field.name)">
                    </mat-form-field>
                </ng-container>
            </ng-container>
        </ng-conatiner>
        <!-- Extra fields start here-->
        <!-- <mat-accordion class="example-headers-align" multi *ngIf="extraFields" style="width: 100%;">
            <mat-expansion-panel *ngFor="let section of extraFields | keyvalue">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{section.value.title}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start" style="padding: 20px 0px;">
                    <ng-conatiner [fxFlex]="flexCol" *ngFor="let field of section.value.fields">
                        <ng-container [ngSwitch]="field.type" *ngIf="!field.isFormHidden">
                            <ng-container *ngSwitchCase="'select'">
                                <mat-form-field class="full-input margin-top">
                                    <mat-label>{{field.text || field.name | camelize}}</mat-label>
                                    <mat-select [(ngModel)]="extraFormData[section.key][field.name]"
                                        [name]="section.key+section.key+field.name" [disabled]="field.readonly"
                                        [required]="!field.optional">
                                        <mat-option value="">Select</mat-option>
                                        <mat-option *ngFor="let data of field.dataSource" [value]="data.value">
                                            {{data.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </ng-container>
                            <ng-container *ngSwitchCase="'autoComplete'">
                                <ng-container *ngIf="field.readonly">
                                    <mat-form-field appearance="standard" class="full-input">
                                        <mat-label>{{field.text || field.name | camelize}}</mat-label>
                                        <input [type]="field.type" matInput
                                            [placeholder]="field.text || field.name | camelize"
                                            autocomplete="new-password" autocomplete="off"
                                            [(ngModel)]="extraFormData[section.key][field.name]"
                                            [name]="section.key+field.name" [disabled]="field.readonly"
                                            [required]="!field.optional">
                                        <mat-hint>Please select {{field.dependsText}} first</mat-hint>
                                    </mat-form-field>
                                </ng-container>
                                <ng-container *ngIf="!field.readonly">
                                    <mat-form-field class="full-input margin-top">
                                        <mat-label>{{field.text || field.name | camelize}}</mat-label>
                                        <input type="text" matInput [(ngModel)]="autoCompleteModel[field.name]"
                                            (keyup)="search($event, field)" (focus)="onAutoCompleteChange(field)"
                                            [matAutocomplete]="auto" [name]="section.key+field.name"
                                            [readOnly]="field.readonly" [required]="!field.optional"
                                            placeholder="start typing for search">
                                        <mat-spinner diameter='19' mode='indeterminate' style="position: absolute;"
                                            [ngStyle]="{'right': field.isAddAllow ? '45px' : '27px'}"
                                            *ngIf="isAutoCompleteLoading[field.name]" matSuffix>
                                        </mat-spinner>
                                        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                                        <mat-icon matSuffix *ngIf="field.isAddAllow"
                                            (click)="autoCompleteAdd($event,field)" style="cursor: pointer;">add
                                        </mat-icon>
                                    </mat-form-field>
                                    <mat-autocomplete #auto="matAutocomplete"
                                        (optionSelected)="onAutoCompleteChange(field, $event)">
                                        <mat-option disabled
                                            *ngIf="field.isInputFieldAddAllow && !filteredOptions.length && autoCompleteModel[field.name] && !isAutoCompleteLoading[field.name] && !field.selected"
                                            (click)="addNew(field)">No Result. Click
                                            to add "{{autoCompleteModel[field.name]}}"</mat-option>
                                        <mat-option *ngFor="let option of filteredOptions" [value]="option.name"
                                            [id]="option.id">
                                            {{option.name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngSwitchCase="'boolean'" class="full-input margin-top">
                                <label style="margin-right: 20px;">{{field.text || field.name | camelize}} <span
                                        *ngIf="!field.optional">*</span></label>
                                <mat-radio-group [(ngModel)]="extraFormData[section.key][field.name]"
                                    [name]="section.key+section.key+field.name" [disabled]="field.readonly"
                                    [required]="!field.optional">
                                    <mat-radio-button style="padding: 10px;" [value]="true">Yes</mat-radio-button>
                                    <mat-radio-button [value]="false">No</mat-radio-button>
                                </mat-radio-group>
                            </ng-container>
                            <ng-container *ngSwitchCase="'textarea'" class="full-input">
                                <mat-form-field appearance="standard" class="full-input">
                                    <mat-label>{{field.text || field.name | camelize}}</mat-label>
                                    <textarea matInput [placeholder]="field.text || field.name | camelize"
                                        [(ngModel)]="extraFormData[section.key][field.name]"
                                        [name]="section.key+field.name" [disabled]="field.readonly"
                                        [required]="!field.optional"></textarea>
                                </mat-form-field>
                            </ng-container>
                            <ng-container *ngSwitchCase="'date'" class="full-input">
                                <mat-form-field appearance="standard" class="full-input">
                                    <mat-label>{{field.text || field.name | camelize}}</mat-label>
                                    <input matInput [matDatepicker]="picker"
                                        [placeholder]="field.text || field.name | camelize" autocomplete="new-password"
                                        autocomplete="off" [(ngModel)]="extraFormData[section.key][field.name]"
                                        [name]="section.key+field.name" [disabled]="field.readonly"
                                        [required]="!field.optional" (click)="picker.open()">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
                                </mat-form-field>
                            </ng-container>
                            <ng-container *ngSwitchCase="'chip'" class="full-input">
                                <mat-form-field class="example-chip-list full-input">
                                    <mat-chip-list #chipList [aria-label]="field.text || field.name | camelize">
                                        <mat-chip *ngFor="let chip of extraChipField[section.key][field.name]"
                                            [selectable]="selectable" [removable]="removable"
                                            (removed)="removeExtraFieldChip(chip, section.key ,field.name)">
                                            {{chip.name}}
                                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                        </mat-chip>
                                        <input [placeholder]="field.text || field.name | camelize"
                                            [ngModel]="autoCompleteModel[field.name]" [matAutocomplete]="auto"
                                            [matChipInputFor]="chipList" [name]="section.key+field.name"
                                            (keyup)="search($event, field)" (focus)="getChipList(field)">
                                        <mat-spinner diameter='19' mode='indeterminate' style="position: absolute;"
                                            [ngStyle]="{'right': field.isAddAllow ? '45px' : '27px'}"
                                            *ngIf="isAutoCompleteLoading[field.name]" matSuffix>
                                        </mat-spinner>
                                        <mat-icon matSuffix *ngIf="field.isAddAllow"
                                            (click)="autoCompleteAdd($event,field)" style="cursor: pointer;">add
                                        </mat-icon>
                                    </mat-chip-list>
                                    <mat-autocomplete #auto="matAutocomplete"
                                        (optionSelected)="selectExtraChipField($event, section.key ,field.name)">
                                        <mat-option disabled
                                            *ngIf="!filteredOptions.length && !isAutoCompleteLoading[field.name]">
                                            No data found</mat-option>
                                        <mat-option *ngFor="let chip of filteredOptions" [value]="chip.id">
                                            {{chip.name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                                <mat-form-field appearance="standard" class="full-input">
                                    <mat-label>{{field.text || field.name | camelize}}</mat-label>
                                    <input [type]="field.type" matInput
                                        [placeholder]="field.text || field.name | camelize" autocomplete="new-password"
                                        autocomplete="off" [(ngModel)]="extraFormData[section.key][field.name]"
                                        [name]="section.key+field.name" [disabled]="field.readonly"
                                        [required]="!field.optional">
                                </mat-form-field>
                            </ng-container>
                        </ng-container>
                    </ng-conatiner>
                </div>
            </mat-expansion-panel>
        </mat-accordion> -->
    </div>
    <mat-divider></mat-divider>
    <div class="button-panel">
        <button class="button" mat-raised-button color="primary" type="submit"
            [disabled]="isSubmitInProgress || !form.valid" (click)="submitForm()">Submit</button>
        <button type="button" class="button" mat-raised-button color="warn" (click)="cancel()">Cancel</button>
    </div>
</form>